.bodyHolder {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  /* text-align: center; */
  flex-direction: row;
  margin-top: 40px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.marketSchedule {
  display: flex;
  flex-wrap: wrap;
  width: 650px;
}

.selectedDay {
  background-color: rgb(255, 255, 255);
  width: 250px;
  height: 180px;
  border: 1px solid gray;
  padding: 10px;
  padding-top: 0;
  box-shadow: 10px 5px 5px rgb(255, 82, 82);
  margin: 10px;
}
h1  {
  margin: 5px;
}

.genericDay{
  background-color: rgb(255, 255, 255);
  width: 250px;
  height: 180px;
  border: 1px solid rgb(184, 183, 183);
  padding: 10px;
  padding-top: 0;
  box-shadow: 10px 5px 5px rgb(72, 72, 72);
  margin: 10px;
}

.hidden {  
  display: none;
}

.selected-month {
  display: block;
  border: 1px solid gray;
  padding: 15px;
  padding-top: 5px;
  box-shadow: 10px 5px 5px rgb(255, 82, 82);
  margin: 10px;
}

.seasonal-produce {
  /* float: right; */
  margin: 10px;
  width: 650px;
}

.header {
  text-align: center;
  width: 100%;
}

li {
  list-style: outside;
  list-style-type: plants;
}

@counter-style plants {
  system: cyclic;
  symbols: "\1F33F \1F353";
  suffix: " ";
}

.dateInput {
  /* width: 100%; */
  text-align: center;
}

.showDate {
  display: block;
}
.hiddenDate {
  display: none;
}